<!--App layout and information displayed to the client/cleint view.-->

<div style="text-align:center">
    
<marquee behavior="alternate" direction="left">
 
  <img src="./assets/football1.jpg" width="32" height="32" alt="Natural"/>--
  <img src="./assets/soccer.gif" width="32" height="32" alt="Natural"/>--
  <img src="./assets/soccer1.gif" width="32" height="32" alt="Natural"/>--
  <img src="./assets/soccer3.gif" width="32" height="32" alt="Natural"/>--
  <img src="./assets/football1.jpg" width="32" height="32" alt="Natural"/>
  
 </marquee>
 
 
  <style>
            * {
          box-sizing: border-box;
      }

      /* Create three unequal columns that floats next to each other */
      .column {
          float: left;
          padding: 10px;
          height: 100000px; 
      }

      .left, .right {
        width: 25%;
      }

      .middle {
        width: 50%;
      }

      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }

      .mat-button{
    color:black;
} 
      </style>
    

<!--First Column of the main page-->
<div class="row">
    <div class="column left" style="background-color:#FFC300;">
      <h2>Livescores</h2>
      <app-livescores-details></app-livescores-details>
    </div>
    
    <!--Middle Column of the main page-->
    <div class="column middle" style="background-color:black;">
        <mat-toolbar > 
            <mat-toolbar-row>
          <button matTooltip="EPL" mat-button [routerLink]="['/england']" style="background-color:#FFC300;">England</button>
          <button matTooltip="La Liga" mat-button [routerLink]="['/spain']" style="background-color:#FFC300;">Spain</button>
          <button matTooltip="Seria A" mat-button [routerLink]="['/italy']" style="background-color:#FFC300;">Italy</button>
          <button matTooltip="Bundesliga" mat-button [routerLink]="['/germany']" style="background-color:#FFC300;">Germany</button>
          <button matTooltip="Ligue 1" mat-button [routerLink]="['/france']" style="background-color:#FFC300;">France</button>
          <button matTooltip="Primeira Liga" mat-button [routerLink]="['/portugal']" style="background-color:#FFC300;">Portugal</button>
          <button matTooltip="Eredivisie" mat-button [routerLink]="['/netherland']"  style="background-color:#FFC300;">Netherland</button>
          <button matTooltip="Jupiler Pro League" mat-button [routerLink]="['/belgium']"  style="background-color:#FFC300;">Belgium</button>
        
        </mat-toolbar-row>
         </mat-toolbar>


         <router-outlet></router-outlet>
    </div>
<!--last Column of the main page-->
    <div class="column left"  style="background-color:#FFC300;"><h2>Contact Us.</h2>
        
       <!--First column-->
      <div class="column middle" style="background-color:#FFC300;"><strong>Admin Portal</strong>
        <app-login></app-login>
      </div>
    
      <!--last column-->
      <div class="column middle" style="background-color:#FFC300;"><strong>Email Us</strong>
        <app-send-request></app-send-request>
        </div>
      
    </div>


  </div>



